body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* New Style */
@media only screen and (min-width : 1025px) {
  .inner-orbit-1 {
    -webkit-animation: orbit-1-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-1-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-1-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-1-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-1 {
    -webkit-animation: orbit-img-1 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-1 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-1 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-1 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-1 {
    -webkit-animation: orbit-1 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-1 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-1 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-1 60s steps(90, end) infinite;
  }

  .inner-orbit-img-1 {
    -webkit-animation: orbit-img-1 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-1 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-1 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-1 60s steps(90, end) infinite;
  }
}

@keyframes orbit-1 {
  0% {
    transform: rotate(90deg) translateX(100px);
  }

  25% {
    transform: rotate(180deg) translateX(80px);
  }

  27% {
    transform: rotate(180deg) translateX(80px);
  }

  50% {
    transform: rotate(270deg) translateX(95px);
  }

  51% {
    transform: rotate(270deg) translateX(95px);
  }

  75% {
    transform: rotate(360deg) translateX(0px);
  }

  100% {
    transform: rotate(90deg) translateX(100px);
  }
}

@keyframes orbit-1-up-1024 {

  0% {
    transform: rotate(90deg) translateX(140px);
  }

  25% {
    transform: rotate(180deg) translateX(120px);
  }

  27% {
    transform: rotate(180deg) translateX(120px);
  }

  50% {
    transform: rotate(270deg) translateX(135px);
  }

  51% {
    transform: rotate(270deg) translateX(135px);
  }

  75% {
    transform: rotate(360deg) translateX(0px);
  }

  100% {
    transform: rotate(90deg) translateX(140px);
  }
}

@keyframes orbit-img-1 {
  0% {
    transform: rotate(-90deg);
  }

  25% {
    transform: rotate(-180deg);
  }

  27% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(-270deg);
  }

  51% {
    transform: rotate(-270deg);
  }

  75% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

/* End Orbit 1 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-2 {
    -webkit-animation: orbit-2-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-2-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-2-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-2-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-2 {
    -webkit-animation: orbit-img-2 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-2 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-2 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-2 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-2 {
    -webkit-animation: orbit-2 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-2 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-2 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-2 60s steps(90, end) infinite;
  }

  .inner-orbit-img-2 {
    -webkit-animation: orbit-img-2 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-2 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-2 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-2 60s steps(90, end) infinite;
  }
}

@keyframes orbit-2 {
  0% {
    transform: rotate(180deg) translateX(100px);
  }

  25% {
    transform: rotate(270deg) translateX(80px);
  }

  27% {
    transform: rotate(270deg) translateX(80px);
  }

  50% {
    transform: rotate(360deg) translateX(95px);
  }

  51% {
    transform: rotate(360deg) translateX(95px);
  }

  75% {
    transform: rotate(540deg) translateX(0px);
  }

  100% {
    transform: rotate(180deg) translateX(100px);
  }
}

@keyframes orbit-2-up-1024 {
  0% {
    transform: rotate(180deg) translateX(140px);
  }

  25% {
    transform: rotate(270deg) translateX(120px);
  }

  27% {
    transform: rotate(270deg) translateX(120px);
  }

  50% {
    transform: rotate(360deg) translateX(135px);
  }

  51% {
    transform: rotate(360deg) translateX(135px);
  }

  75% {
    transform: rotate(540deg) translateX(0px);
  }

  100% {
    transform: rotate(180deg) translateX(140px);
  }
}

@keyframes orbit-img-2 {
  0% {
    transform: rotate(-180deg);
  }

  25% {
    transform: rotate(-270deg);
  }

  27% {
    transform: rotate(-270deg);
  }

  50% {
    transform: rotate(-360deg);
  }

  51% {
    transform: rotate(-360deg);
  }

  75% {
    transform: rotate(-540deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}
/* End Orbit 2 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-3 {
    -webkit-animation: orbit-3-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-3-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-3-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-3-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-3 {
    -webkit-animation: orbit-img-3 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-3 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-3 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-3 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-3 {
    -webkit-animation: orbit-3 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-3 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-3 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-3 60s steps(90, end) infinite;
  }

  .inner-orbit-img-3 {
    -webkit-animation: orbit-img-3 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-3 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-3 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-3 60s steps(90, end) infinite;
  }
}

@keyframes orbit-3 {
  0% {
    transform: rotate(270deg) translateX(100px);
  }

  25% {
    transform: rotate(360deg) translateX(80px);
  }

  27% {
    transform: rotate(360deg) translateX(80px);
  }

  50% {
    transform: rotate(450deg) translateX(95px);
  }

  51% {
    transform: rotate(450deg) translateX(95px);
  }

  75% {
    transform: rotate(540deg) translateX(0px);
  }

  100% {
    transform: rotate(270deg) translateX(100px);
  }
}

@keyframes orbit-3-up-1024 {
  0% {
    transform: rotate(270deg) translateX(140px);
  }

  25% {
    transform: rotate(360deg) translateX(120px);
  }

  27% {
    transform: rotate(360deg) translateX(120px);
  }

  50% {
    transform: rotate(450deg) translateX(135px);
  }

  51% {
    transform: rotate(450deg) translateX(135px);
  }

  75% {
    transform: rotate(540deg) translateX(0px);
  }

  100% {
    transform: rotate(270deg) translateX(140px);
  }
}

@keyframes orbit-img-3 {
  0% {
    transform: rotate(-270deg);
  }

  25% {
    transform: rotate(-360deg);
  }

  27% {
    transform: rotate(-360deg);
  }

  50% {
    transform: rotate(-450deg);
  }

  51% {
    transform: rotate(-450deg);
  }

  75% {
    transform: rotate(-540deg);
  }

  100% {
    transform: rotate(-270deg);
  }
}
/* End Orbit 3 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-4 {
    -webkit-animation: orbit-4-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-4-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-4-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-4-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-4 {
    -webkit-animation: orbit-img-4 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-4 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-4 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-4 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-4 {
    -webkit-animation: orbit-4 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-4 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-4 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-4 60s steps(90, end) infinite;
  }

  .inner-orbit-img-4 {
    -webkit-animation: orbit-img-4 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-4 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-4 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-4 60s steps(90, end) infinite;
  }
}

@keyframes orbit-4 {
  0% {
    transform: rotate(360deg) translateX(100px);
  }

  25% {
    transform: rotate(450deg) translateX(80px);
  }

  27% {
    transform: rotate(450deg) translateX(80px);
  }

  50% {
    transform: rotate(540deg) translateX(95px);
  }

  51% {
    transform: rotate(540deg) translateX(95px);
  }

  75% {
    transform: rotate(627deg) translateX(0px);
  }

  100% {
    transform: rotate(360deg) translateX(100px);
  }
}

@keyframes orbit-4-up-1024 {
  0% {
    transform: rotate(360deg) translateX(140px);
  }

  25% {
    transform: rotate(450deg) translateX(120px);
  }

  27% {
    transform: rotate(450deg) translateX(120px);
  }

  50% {
    transform: rotate(540deg) translateX(135px);
  }

  51% {
    transform: rotate(540deg) translateX(135px);
  }

  75% {
    transform: rotate(627deg) translateX(0px);
  }

  100% {
    transform: rotate(360deg) translateX(140px);
  }
}

@keyframes orbit-img-4 {
  0% {
    transform: rotate(-360deg);
  }

  25% {
    transform: rotate(-450deg);
  }

  27% {
    transform: rotate(-450deg);
  }

  50% {
    transform: rotate(-540deg);
  }

  51% {
    transform: rotate(-540deg);
  }

  75% {
    transform: rotate(-627deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
/* End Orbit 4 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-5 {
    -webkit-animation: orbit-5-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-5-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-5-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-5-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-5 {
    -webkit-animation: orbit-img-5 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-5 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-5 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-5 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-5 {
    -webkit-animation: orbit-5 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-5 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-5 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-5 60s steps(90, end) infinite;
  }

  .inner-orbit-img-5 {
    -webkit-animation: orbit-img-5 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-5 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-5 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-5 60s steps(90, end) infinite;
  }
}

@keyframes orbit-5 {
  0% {
    transform: rotate(60deg) translateX(160px);
  }

  25% {
    transform: rotate(120deg) translateX(180px);
  }

  27% {
    transform: rotate(120deg) translateX(180px);
  }

  50% {
    transform: rotate(200deg) translateX(140px);
  }

  51% {
    transform: rotate(200deg) translateX(140px);
  }

  75% {
    transform: rotate(240deg) translateX(0px);
  }

  100% {
    transform: rotate(60deg) translateX(160px);
  }
}

@keyframes orbit-5-up-1024 {
  0% {
    transform: rotate(60deg) translateX(200px);
  }

  25% {
    transform: rotate(120deg) translateX(220px);
  }

  27% {
    transform: rotate(120deg) translateX(220px);
  }

  50% {
    transform: rotate(200deg) translateX(180px);
  }

  51% {
    transform: rotate(200deg) translateX(180px);
  }

  75% {
    transform: rotate(240deg) translateX(0px);
  }

  100% {
    transform: rotate(60deg) translateX(200px);
  }
}

@keyframes orbit-img-5 {
  0% {
    transform: rotate(-60deg);
  }

  25% {
    transform: rotate(-120deg);
  }

  27% {
    transform: rotate(-120deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  51% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-240deg);
  }

  100% {
    transform: rotate(-60deg);
  }
}
/* End Orbit 5 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-6 {
    -webkit-animation: orbit-6-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-6-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-6-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-6-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-6 {
    -webkit-animation: orbit-img-6 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-6 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-6 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-6 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-6 {
    -webkit-animation: orbit-6 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-6 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-6 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-6 60s steps(90, end) infinite;
  }

  .inner-orbit-img-6 {
    -webkit-animation: orbit-img-6 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-6 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-6 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-6 60s steps(90, end) infinite;
  }
}

@keyframes orbit-6 {
  0% {
    transform: rotate(120deg) translateX(160px);
  }

  25% {
    transform: rotate(180deg) translateX(180px);
  }

  27% {
    transform: rotate(180deg) translateX(180px);
  }

  50% {
    transform: rotate(240deg) translateX(140px);
  }

  51% {
    transform: rotate(240deg) translateX(140px);
  }

  75% {
    transform: rotate(300deg) translateX(0px);
  }

  100% {
    transform: rotate(120deg) translateX(160px);
  }
}

@keyframes orbit-6-up-1024 {
  0% {
    transform: rotate(120deg) translateX(200px);
  }

  25% {
    transform: rotate(180deg) translateX(220px);
  }

  27% {
    transform: rotate(180deg) translateX(220px);
  }

  50% {
    transform: rotate(240deg) translateX(180px);
  }

  51% {
    transform: rotate(240deg) translateX(180px);
  }

  75% {
    transform: rotate(300deg) translateX(0px);
  }

  100% {
    transform: rotate(120deg) translateX(200px);
  }
}

@keyframes orbit-img-6 {
  0% {
    transform: rotate(-120deg);
  }

  25% {
    transform: rotate(-180deg);
  }

  27% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(-240deg);
  }

  51% {
    transform: rotate(-240deg);
  }

  75% {
    transform: rotate(-300deg);
  }

  100% {
    transform: rotate(-120deg);
  }
}
/* End Orbit 6 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-7 {
    -webkit-animation: orbit-7-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-7-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-7-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-7-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-7 {
    -webkit-animation: orbit-img-7 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-7 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-7 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-7 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-7 {
    -webkit-animation: orbit-7 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-7 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-7 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-7 60s steps(90, end) infinite;
  }

  .inner-orbit-img-7 {
    -webkit-animation: orbit-img-7 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-7 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-7 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-7 60s steps(90, end) infinite;
  }
}

@keyframes orbit-7 {
  0% {
    transform: rotate(180deg) translateX(175px);
  }

  25% {
    transform: rotate(240deg) translateX(175px);
  }

  27% {
    transform: rotate(240deg) translateX(175px);
  }

  50% {
    transform: rotate(300deg) translateX(135px);
  }

  51% {
    transform: rotate(300deg) translateX(135px);
  }

  75% {
    transform: rotate(360deg) translateX(0px);
  }

  100% {
    transform: rotate(180deg) translateX(195px);
  }
}

@keyframes orbit-7-up-1024 {
  0% {
    transform: rotate(180deg) translateX(235px);
  }

  25% {
    transform: rotate(240deg) translateX(220px);
  }

  27% {
    transform: rotate(240deg) translateX(220px);
  }

  50% {
    transform: rotate(300deg) translateX(180px);
  }

  51% {
    transform: rotate(300deg) translateX(180px);
  }

  75% {
    transform: rotate(360deg) translateX(0px);
  }

  100% {
    transform: rotate(180deg) translateX(235px);
  }
}

@keyframes orbit-img-7 {
  0% {
    transform: rotate(-180deg);
  }

  25% {
    transform: rotate(-240deg);
  }

  27% {
    transform: rotate(-240deg);
  }

  50% {
    transform: rotate(-300deg);
  }

  51% {
    transform: rotate(-300deg);
  }

  75% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}
/* End Orbit 7 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-8 {
    -webkit-animation: orbit-8-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-8-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-8-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-8-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-8 {
    -webkit-animation: orbit-img-8 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-8 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-8 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-8 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-8 {
    -webkit-animation: orbit-8 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-8 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-8 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-8 60s steps(90, end) infinite;
  }

  .inner-orbit-img-8 {
    -webkit-animation: orbit-img-8 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-8 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-8 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-8 60s steps(90, end) infinite;
  }
}

@keyframes orbit-8 {
  0% {
    transform: rotate(240deg) translateX(160px);
  }

  25% {
    transform: rotate(300deg) translateX(160px);
  }

  27% {
    transform: rotate(300deg) translateX(160px);
  }

  50% {
    transform: rotate(380deg) translateX(170px);
  }

  51% {
    transform: rotate(380deg) translateX(170px);
  }

  75% {
    transform: rotate(420deg) translateX(0px);
  }

  100% {
    transform: rotate(240deg) translateX(160px);
  }
}

@keyframes orbit-8-up-1024 {
  0% {
    transform: rotate(240deg) translateX(200px);
  }

  25% {
    transform: rotate(300deg) translateX(220px);
  }

  27% {
    transform: rotate(300deg) translateX(220px);
  }

  50% {
    transform: rotate(380deg) translateX(180px);
  }

  51% {
    transform: rotate(380deg) translateX(180px);
  }

  75% {
    transform: rotate(420deg) translateX(0px);
  }

  100% {
    transform: rotate(240deg) translateX(200px);
  }
}

@keyframes orbit-img-8 {
  0% {
    transform: rotate(-240deg);
  }

  25% {
    transform: rotate(-300deg);
  }

  27% {
    transform: rotate(-300deg);
  }

  50% {
    transform: rotate(-380deg);
  }

  51% {
    transform: rotate(-380deg);
  }

  75% {
    transform: rotate(-420deg);
  }

  100% {
    transform: rotate(-240deg);
  }
}
/* End Orbit 8 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-9 {
    -webkit-animation: orbit-9-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-9-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-9-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-9-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-9 {
    -webkit-animation: orbit-img-9 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-9 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-9 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-9 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-9 {
    -webkit-animation: orbit-9 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-9 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-9 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-9 60s steps(90, end) infinite;
  }

  .inner-orbit-img-9 {
    -webkit-animation: orbit-img-9 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-9 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-9 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-9 60s steps(90, end) infinite;
  }
}

@keyframes orbit-9 {
  0% {
    transform: rotate(300deg) translateX(160px);
  }

  25% {
    transform: rotate(360deg) translateX(160px);
  }

  27% {
    transform: rotate(360deg) translateX(160px);
  }

  50% {
    transform: rotate(420deg) translateX(170px);
  }

  51% {
    transform: rotate(420deg) translateX(170px);
  }

  75% {
    transform: rotate(480deg) translateX(0px);
  }

  100% {
    transform: rotate(300deg) translateX(160px);
  }
}

@keyframes orbit-9-up-1024 {
  0% {
    transform: rotate(300deg) translateX(230px);
  }

  25% {
    transform: rotate(360deg) translateX(220px);
  }

  27% {
    transform: rotate(360deg) translateX(220px);
  }

  50% {
    transform: rotate(420deg) translateX(180px);
  }

  51% {
    transform: rotate(420deg) translateX(180px);
  }

  75% {
    transform: rotate(480deg) translateX(0px);
  }

  100% {
    transform: rotate(300deg) translateX(230px);
  }
}

@keyframes orbit-img-9 {
  0% {
    transform: rotate(-300deg);
  }

  25% {
    transform: rotate(-360deg);
  }

  27% {
    transform: rotate(-360deg);
  }

  50% {
    transform: rotate(-420deg);
  }

  51% {
    transform: rotate(-420deg);
  }

  75% {
    transform: rotate(-480deg);
  }

  100% {
    transform: rotate(-300deg);
  }
}
/* End Orbit 9 */

@media only screen and (min-width : 1025px) {
  .inner-orbit-10 {
    -webkit-animation: orbit-10-up-1024 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-10-up-1024 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-10-up-1024 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-10-up-1024 60s steps(90, end) infinite;
  }

  .inner-orbit-img-10 {
    -webkit-animation: orbit-img-10 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-10 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-10 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-10 60s steps(90, end) infinite;
  }
}

@media only screen and (max-width : 1024px) {
  .inner-orbit-10 {
    -webkit-animation: orbit-10 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-10 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-10 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-10 60s steps(90, end) infinite;
  }

  .inner-orbit-img-10 {
    -webkit-animation: orbit-img-10 60s steps(90, end) infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit-img-10 60s steps(90, end) infinite; /* Firefox 5-15 */
    -o-animation: orbit-img-10 60s steps(90, end) infinite; /* Opera 12+ */
    animation: orbit-img-10 60s steps(90, end) infinite;
  }
}

@keyframes orbit-10 {
  0% {
    transform: rotate(360deg) translateX(160px);
  }

  25% {
    transform: rotate(420deg) translateX(160px);
  }

  27% {
    transform: rotate(420deg) translateX(160px);
  }

  50% {
    transform: rotate(480deg) translateX(170px);
  }

  51% {
    transform: rotate(480deg) translateX(170px);
  }

  75% {
    transform: rotate(540deg) translateX(0px);
  }

  100% {
    transform: rotate(360deg) translateX(160px);
  }
}

@keyframes orbit-10-up-1024 {
  0% {
    transform: rotate(360deg) translateX(200px);
  }

  25% {
    transform: rotate(420deg) translateX(220px);
  }

  27% {
    transform: rotate(420deg) translateX(220px);
  }

  50% {
    transform: rotate(480deg) translateX(180px);
  }

  51% {
    transform: rotate(480deg) translateX(180px);
  }

  75% {
    transform: rotate(540deg) translateX(0px);
  }

  100% {
    transform: rotate(360deg) translateX(200px);
  }
}

@keyframes orbit-img-10 {
  0% {
    transform: rotate(-360deg);
  }

  25% {
    transform: rotate(-420deg);
  }

  27% {
    transform: rotate(-420deg);
  }

  50% {
    transform: rotate(-480deg);
  }

  51% {
    transform: rotate(-480deg);
  }

  75% {
    transform: rotate(-540deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* New Orbit Style End  */

/* Twinkles Star */
@-webkit-keyframes fadein {
  from { opacity: 1; }
  to { opacity: 0.1; }
}

@-moz-keyframes fadein {
  from { opacity: 1; }
  to { opacity: 0.1; }
}

@keyframes fadein {
  from { opacity: 1; }
  to { opacity: 0.1; }
}

.twinkle {
  -webkit-animation: fadein 1s ease-in alternate infinite;
  -moz-animation: fadein 1s ease-in alternate infinite;
  animation: fadein 1s ease-in alternate infinite;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
  margin-right: 23px;
}

.avatar-size {
  width: 20px !important;
  height: 20px !important;
}

.App-bar-btn:hover {
  border-radius: unset !important;
  background-color: unset !important;
  border-bottom: 2px solid #00A0DC !important;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
}

.App-bar-btn {
  font-size: 16px;
  border-radius: unset !important;
  border-bottom: 2px solid white !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-text {
  font-weight: 700;
  color: transparent;
  background-size: 100%;
  background: linear-gradient(271.92deg, #EBEBEB -14.37%, #00A0DC 95.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.primary-gradient-text {
  font-weight: 500;
  color: transparent;
  background-size: 100%;
  background-image: linear-gradient(to right, #195dcc, #0070d4, #0081d9, #0091dc, #00a0dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}

.golden-gradient {
  font-weight: 700;
  color: transparent;
  background-size: 100%;
  background: linear-gradient(271.92deg, #EBEBEB -14.37%, #FFD15C 95.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*.star-div {*/
/*  width: 27.2vw;*/
/*}*/

.search-box .MuiOutlinedInput-root {
  border-radius: 15px;
}

h1 {
  margin-bottom: 0;
  font-stretch: condensed;
}

.startImg {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home-title {
  font-size: 30px;
}

a {
  cursor: pointer;
}

.search-box .MuiOutlinedInput-root{
  border-radius: 15px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.error {
  color: #B71C1C;
}

.rounded-img {
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  max-height: 100%;
  max-width: 100%;
}

.svg-icon {
  display: flex;
  height: inherit;
  width: inherit;
}

.share-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 40px;
  height: 40px;
}

.share-btn:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.nav .active {
  background: transparent;
  color: #000000;
  border-bottom: 2px solid #00A0DC !important;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width : 1025px) {
  .nav a {
    color: #000000;
    padding: 6px 10px;
    margin-right: 5px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
}

@media only screen and (max-width : 1024px) {
  .nav a {
    color: #000000;
    padding: 6px 5px;
    margin-right: 5px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
}

.nav a:hover {
  background: transparent;
  color: #000000;
  border-bottom: 2px solid #00A0DC !important;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
}

.nav a:after {
  transition: none;
}

.nav a:focus {
  background-color: transparent;
}

.side-menu a {
  font-weight: 300;
  font-size: 14px;
}

.interest-job-grid .paper-wrapper:nth-child(3) .child-paper {
  background-color: #FBFBFB;
}

.interest-job-grid .paper-wrapper:nth-child(4) .child-paper {
  background-color: #FBFBFB;
}

.interest-job-grid .paper-wrapper:nth-child(7) .child-paper {
  background-color: #FBFBFB;
}

.interest-job-grid .paper-wrapper:nth-child(8) .child-paper {
  background-color: #FBFBFB;
}
